@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}

#logo {
    animation: shake 1s infinite;
    transition: all 0.5s;
}
#logo:hover {
    animation: shake 0.5s infinite;
    text-shadow: 0 0 10px #fff;
}

#logo-accent {
    transition: all 0.25s;
}

#logo-accent:hover {
    transition: all 0.25s;
    transform: scale(1.1);
    text-shadow: 0 0 10px #556e58;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

body {
    --sb-track-color: #303d35;
    --sb-thumb-color: #6bb174;
    --sb-size: 10px;
}

body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

/* Text editor content */
#richEditor p:not(:first-child) {
    margin-top: 2rem;
}
#richEditor h1,
h2,
h3:not(:first-child) {
    margin-top: 2.5rem;
}
#richEditor h1,
h2,
h3 {
    color: rgb(17 24 39);
    font-weight: bold;
    letter-spacing: -0.025em;
}

#richEditor h1 {
    font-size: 2rem;
}
#richEditor h2 {
    font-size: 1.75rem;
}
#richEditor h3 {
    font-size: 1.5rem;
}
#richEditor ul,
#richEditor ol {
    padding-left: 2.5rem;
}
#richEditor ul {
    list-style-type: disc;
}
#richEditor ol {
    list-style-type: decimal;
}
